body {
    overflow: hidden;
}

.scrollbarHide::-webkit-scrollbar {
    display: none; /* works in Chrome, Safai and Opera - but not in Firefox */
}

.nameText {
    font-size: 12rem;
}

.questionText {
    font-size: 6rem;
}
